* { 
    margin: 0; 
    padding: 0;
    cursor: default;
}
body {
    
    margin:0;
    padding:0;
}

html, #chatInput{
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

/* This is css for the color picker and eraser */
#tools{
    position: absolute;
    left: 225px;
    top: 25px;
}

#turquoise{
    float:left;
    width:20px;
    height:20px;
    background-color:#1abc9c;
}

#emerald{
    float:left;
    width:20px;
    height:20px;
    background-color:#2ecc71;
}

#river{
    float:left;
    width:20px;
    height:20px;
    background-color: #3498db;
}

#sun{
    float:left;
    width:20px;
    height:20px;
    background-color:#f1c40f;
}

#carrot{
    float:left;
    width:20px;
    height:20px;
    background-color:#e67e22;
}

#alizarin{
    float:left;
    width:20px;
    height:20px;
    background-color: #e74c3c;
}

#amethyst{
    float:left;
    width:20px;
    height:20px;
    background-color:#9b59b6;
}

#asphalt{
    float:left;
    width:20px;
    height:20px;
    background-color:#34495e;
}

#concrete{
    float:left;
    width:20px;
    height:20px;
    background-color: #95a5a6;
}

.eraseron{
    background-color: #E74C3C;
    color:#ECF0F1;
    padding:5px;
    width:50px;
    float:left;
    text-align: center;
}

.eraseroff{
    background-color: #F0F4F5;
    color: #2C3E50;
    padding: 5px;
    width:50px;
    float:left;
    text-align: center;
}

/* side bar with chat */
#sidebar{
    position:absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 200px;
    background-color: #2C3E50;
}
#chatbox{
    background-color:#ECF0F1;
    
}
.evenli{
    color: #2C3E50;
    list-style: none;
    font-size: 12px;
}

.oddli{
    color: #2C3E50;
    list-style: none;
    font-size: 12px;
    background-color: #F0F4F5;
}
.userli{
    color: #ECF0F1;
    list-style: none;
    font-size: 12px;
    background-color: #2C3E50;
    margin-top: 1px;
    padding: 5px;
}

.systemli{
    color: #ECF0F1;
    list-style: none;
    font-size: 12px;
    background-color: #E74C3C;
    margin-top: 1px;
    padding: 5px;
}
.correctli{
    color: #ECF0F1;
    list-style: none;
    font-size: 12px;
    background-color: #91C46C;
    margin-top: 1px;
    padding: 5px;
}
#chatList {
    height: 80vh;
    overflow-y:auto;
    word-wrap: break-word;
    margin-top: 5px;
}
#cvs {
    position:absolute;
    left:0px;
    top:0px;
    cursor:crosshair;
    z-index: -1;
}
#chatInput{
    width: 95%;
    margin-left: 1%;
}
#drawname{
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align:center;
}
#timeLeft{
    font-size: 60px;
    background-color: #E74C3C;
    color: #ECF0F1;
    text-align:center;
}
#word{
    font=size: 80px;
    font-weight: bold;
    background-color: #FFD651;
    color: #2C3E50;
    text-align: center;
}

/* leaderboard */
#leaderboard{
    float:right;
    margin-top:25px;
    margin-right: 25px;
    background-color:red;

}